upstream php-upstream {
    server php-fpm:9000;
}

server {
    listen 80;
    index index.php;
    server_name server-name.site;
    set $ROOT /var/www/app-name/;
    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    root $ROOT;
    client_max_body_size 128M;

    # Text compression
    gzip on;
    gzip_comp_level 4;
    gzip_disable "msie6";
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    location ~* \.php$ {
        try_files $uri $uri/ /index.php last;

        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        fastcgi_pass php-fpm:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }

    location ~* .php/ {
        rewrite ^(.*.php)/ $1 last;
    }

    location = / {
       rewrite / /api/doc/ permanent;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
}

